button {
  border: 10px solid #000;
  cursor: pointer;
  height: 300px;
  margin: 0 -2px;
  outline: none;
  padding: 0;
  width: 300px; }

section {
  margin: 0 auto;
  position: relative;
  width: 620px; }

.buttons-container .buttons-container-blocked button {
  pointer-events: none; }

.buttons-container__green {
  border-top-left-radius: 100%;
  background: rgba(35, 200, 82, 0.4); }

.buttons-container__red {
  border-top-right-radius: 100%;
  background: rgba(254, 35, 34, 0.4); }

.buttons-container__yellow {
  border-bottom-left-radius: 100%;
  background: rgba(243, 194, 16, 0.4); }

.buttons-container__blue {
  border-bottom-right-radius: 100%;
  background: rgba(0, 103, 208, 0.4); }

.buttons-container__red.buttons-container-active, .buttons-container__red:hover {
  background: #fe2322; }

.buttons-container__green.buttons-container-active, .buttons-container__green:hover {
  background: #23c852; }

.buttons-container__yellow.buttons-container-active, .buttons-container__yellow:hover {
  background: #f3c210; }

.buttons-container__blue.buttons-container-active, .buttons-container__blue:hover {
  background: #0067d0; }

.buttons-container__counter {
  background: #000;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  font-family: Arial;
  font-size: 100px;
  left: 50%;
  line-height: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -108px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px; }

body {
  font-family: Montserrat; }

header {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px; }

h1 {
  font-size: 100px; }
